{% extends "base.html.twig" %}

{% block content %}


    <div class="row">
        <div class="col-md-8">
        
              <div class="notification notification--error">
                <div class="notification__content">
                  <div class="notification__type">Let op!</div>
                  <h2 class="notification__title">Dit is geen echt DigiD formulier</h2>
                  <span>Dit formulier is uitsluitend bedoeld voor test doeleinden en zet geen bestaande persoons gegevens door</span>
                </div>
              </div>

            <div class="content-background">
            	<div class="content">
            		<h2>Kies een persona</h2>
            		
                    <form action="{{ responceUrl }}" method="post">                           
                        <div class="input">
                            <label class="input__label" for="color">Persoon</label>
                            <select id="color" class="input__control input__control--m input__control--select ">
                                {% for persoon in people %}
								<option value="{{ persoon.burgerservicenummer  }}">{{ persoon.naam.voornamen }} {{ persoon.naam.geslachtsnaam }}</option>
								{% endfor %}
                            </select>
                        </div>             
						
						<input type="hidden" name="responce_url" value="{{ responceUrl }}">
						<input type="hidden" name="token" value="{{ token }}">
                        
                        <button class="btn" type="submit">Inloggen</button> 
                        
                   </form>

                </div><!-- /.content -->
            </div><!-- /.content-background -->
        </div><!-- /.col -->
        
        
        <div class="col-md-4">

            <div class="content-background" >
            	<div class="content">
            		<h2>Over dit formlier</h2>
					<p>Dit formulier bied persona uit een mock-brp om mee in te loggen, na de inlog word een BSN  nummer terug geven aan de aanvragende applicatie.</p>
					<p>Op deze manier is het mogelijk een DigiD inlog te &ldquo;spoofen&rdquo; voor ontwikkel doeleinden zonder een logius certificering aan te vragen</p>
					<p>Dit component is open source beschikbaar als zowel git repository en docker container voorzien van helm charts voor kubernetes.</p>
					<p>Bij het inrichten van component kan worden aangegeven wel mock-brp moet worden gebruikt, dat kan zowel een ander component op de kubernetes cluster als een externe service zijn.</p>
                </div><!-- /.content -->
            </div><!-- /.content-background -->
        </div><!-- /.col -->
	</div><!-- /.row -->

        
{% endblock %}
