{% extends "base.html.twig" %}

{% block content %}

<section class="row">
    <div class="col-md-12">
        <div class="content">
            <header class="content__header">
                <header class="content__header">
                    <h1 class="content__header-title">Mijn developer</h1>
                </header>
            </header>
        </div><!-- ./content -->
    </div><!-- ./col -->
</section>

<div class="row theme--small-padding">

    <div class="col-md-8">
        <div class="content-background">
            <div class="content">

                <h2>Beschrijving</h2>

                <p>Labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco
                    laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                    in
                    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                    cupidatat
                    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div><!-- ./content -->
        </div><!-- ./content-background -->

        <!-- Page Break -->
        <div style="height: 20px"></div>

        <div class="content-background">
            <div class="content">

                <div class="row">
                    <div class="col-md-7">
                        <h2>Mijn API keys</h2>

                        <ul class="list list--dash">
                            <li><b>API</b> 18hb2-9176b-129344-10x9es</li>
                            <li><b>API2</b> 18hb2-9176b-129344-10x9es</li>
                            <li><b>API3</b> 18hb2-9176b-129344-10x9es</li>
                        </ul>
                    </div>
                </div>
            </div><!-- ./content -->
        </div><!-- ./content-background -->

        <!-- Page Break -->
        <div style="height: 20px"></div>

        <div class="content-background">
            <div class="content">

                <h2>Mijn Pitches</h2>

                <ul class="list list--card list--card-small">
                    <li class="card card--small">
                        <a href="{{ path('app_pitch_view', { 'id': 1 }) }}" class="card__content">
                            <div class="card__thumb"
                                 style="background-image: url('https://picsum.photos/200')"></div>
                            <div class="card__body"><span class="card__title">Event</span>
                                Labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco.
                            </div>
                        </a>
                    </li>
                    <li class="card card--small">
                        <a href="{{ path('app_pitch_view', { 'id': 1 }) }}" class="card__content">
                            <div class="card__thumb"
                                 style="background-image: url('https://picsum.photos/200')"></div>
                            <div class="card__body"><span class="card__title">Event</span>
                                Labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco.
                            </div>
                        </a>
                    </li>
                </ul>

            </div><!-- ./content-background -->
        </div><!-- ./col -->
        <!-- Page Break -->
        <div style="height: 20px"></div>

        <div class="content-background">
            <div class="content">

                <h2>Mijn Evenementen</h2>

                <ul class="list list--card list--card-small">
                    <li class="card card--small">
                        <a href="{{ path('app_event_view', { 'id': 1 }) }}" class="card__content">
                            <div class="card__thumb"
                                 style="background-image: url('https://picsum.photos/200')"></div>
                            <div class="card__body"><span class="card__title">Event</span>
                                Labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco.
                            </div>
                        </a>
                    </li>
                    <li class="card card--small">
                        <a href="{{ path('app_event_view', { 'id': 1 }) }}" class="card__content">
                            <div class="card__thumb"
                                 style="background-image: url('https://picsum.photos/200')"></div>
                            <div class="card__body"><span class="card__title">Event</span>
                                Labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco.
                            </div>
                        </a>
                    </li>
                </ul>

            </div><!-- ./content-background -->
        </div><!-- ./col -->

        <!-- Page Break -->
        <div style="height: 20px"></div>

        <div class="content-background">
            <div class="content">
                <h2>Mijn Berichten</h2>

                <blockquote class="quote ">
                    <h4>Van John Doe</h4>
                    Koffietje doen?<br>
                    <span class="meta">– verstuurd op 10-2-2020 10:30</span>
                </blockquote>

                <blockquote class="quote ">
                    <h4>Van John Doe</h4>
                    Vergadering woensdag<br>
                    <span class="meta">– verstuurd op 10-2-2020 10:30</span>
                </blockquote>

                <blockquote class="quote ">
                    <h4>Van John Doe</h4>
                    Afspraak annuleren<br>
                    <span class="meta">– verstuurd op 10-2-2020 10:30</span>
                </blockquote>

                <h3>Bericht versturen</h3>
                <form>
                    <div class="input">
                        <label class="input__label" for="name">Naam</label>
                        <input type="text"
                               class="input__control input__control--text input__control--large">
                    </div>

                    <div class="input">
                        <label class="input__label" for="name">E-mail</label>
                        <input type="text"
                               class="input__control input__control--text input__control--large">
                    </div>

                    <div class="input">
                        <label class="input__label" for="textarea_voorbeeld">Inhoud</label>
                        <textarea id="textarea_voorbeeld"
                                  class="input__control input__control--large input__control--text"></textarea>
                    </div>

                    <div class="input">
                        <button type="submit" class="btn btn--primary">Verstuur</button>
                    </div>
                </form>
            </div><!-- ./content -->
        </div><!-- ./content-background -->

        <!-- Page Break -->
        <div style="height: 20px"></div>

        <div class="content-background">
            <div class="content">
                <h2>Mijn Geschreven Reviews</h2>

                <blockquote class="quote">
                    <h4>API2</h4>
                    Zeer duidelijke documentatie<br>
                    <span class="meta">– geschreven op 10-2-2020 10:30</span>
                </blockquote>

            </div><!-- ./content -->
        </div><!-- ./content-background -->

    </div><!-- ./col -->

    <div class="col-md-4">
        <div class="content-background background--donkerblauw">
            <div class="content">

                <h2>Menu</h2>
                <ul class="list list--links list--chevrons">
                    <li>
                        <a href="{{ path('app_developer_me') }}">Mijn Developer</a>
                    </li>
                    <li>
                        <a href="#">Toolkits</a>
                    </li>
                    <li>
                        <a href="{{ path('app_api_index') }}">API's</a>
                    </li>
                    <li>
                        <a href="#">Design Guides</a>
                    </li>
                </ul>


            </div><!-- ./col -->
        </div><!-- ./row -->
    </div>

    <script>
        System.import('/uno/components/donut-chart/donut-chart.js').then(function (module) {
            var donutChart = new module.DonutChart(document.getElementById('complicancy_donut-chart'));
            donutChart.value = 80;
            donutChart.draw();
        });
    </script>

    {% endblock %}
